
@{
    ViewBag.Title = "Admin";
}

<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-info o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-wrench"></i>
                </div>
                <div class="mr-5">Total  @ViewBag.Roles Roles</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "Role", new { area = "Admin" })">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-users"></i>
                </div>
                <div class="mr-5">Total  @ViewBag.Users Users</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "User", new { area = "Admin" })">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Total  @ViewBag.Project Projects</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "Product", new { area = "Admin" })">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-support"></i>
                </div>
                <div class="mr-5">Total @ViewBag.Categories Categories</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "Categories", new { area = "Admin" })">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>



