<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title-Admin Panel</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/Content/Admincss/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/Content/Admincss/sb-admin.css" rel="stylesheet">
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
           
        @Html.ActionLink("Admin Dashboard", "Index", "Admin", new { area = "Admin" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Index", "Admin", new { area = "Admin" })">
                        <i class="fa fa-fw fa-dashboard"></i>
                      
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                   
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Roles">
               
                    <a class="nav-link" href="@Url.Action("Index", "Role", new { area = "Admin" })">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Roles</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
               
                    <a class="nav-link" href="@Url.Action("Index", "User", new { area = "Admin" })">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Users</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Project">
               
                    <a class="nav-link" href="@Url.Action("Index", "Product", new { area = "Admin" })">
                        <i class="fa fa-fw fa-product-hunt"></i>
                        <span class="nav-link-text">Project</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Category">
               
                    <a class="nav-link" href="@Url.Action("Index", "Categories", new { area = "Admin" })">
                        <i class="fa fa-fw fa-sitemap"></i>
                        <span class="nav-link-text">Category</span>
                    </a>
                </li>

               

            </ul>
            <ul class="navbar-nav  sidenav-toggler" >
                <li class="nav-item">
                    <a class="nav-link text-center " id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
           
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Visit Website">
               
                    <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "" })" >
                        <i class="fa fa-fw fa-home" style="font-size: 25px !important"></i>
                        
                    </a>
                </li>
                @Html.Partial("_LoginPartial")
                @*<li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Account
                    </a>
               
                </li>*@
            </ul>
        </div>
    </nav>
<div class="content-wrapper">
<div class="container-fluid">
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "Admin", new { area = "Admin" })">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
@RenderBody()

</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © 2018 | Portfolio</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#">Logout</a>
            </div>
        </div>
    </div>
</div>
       
</div>

    <!-- Bootstrap core JavaScript-->
   
    <script src="/Scripts/Adminjs/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/Scripts/Adminjs/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/Scripts/Adminjs/Chart.min.js"></script>
    <script src="/Scripts/Adminjs/jquery.dataTables.js"></script>
    <script src="/Scripts/Adminjs/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/Scripts/Adminjs/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/Scripts/Adminjs/sb-admin-datatables.min.js"></script>
    <script src="/Scripts/Adminjs/sb-admin-charts.min.js"></script>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/adminjs")

@Scripts.Render("~/bundles/bootstrap")*@
</body>

                @*
            
                   
                    <li>@Html.ActionLink("Visit Site", "Index", "Home", new { area = "" }, new { })</li>
                    <li>@Html.Partial("_LoginPartial")</li>*@

               
           

           
   
       
   
   

</html>
