@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-wrench"></i> &nbsp; Role Details Panel
    </div>
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Id)</td>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
             </table>
        
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-info btn-xs" })
            </div>
    
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

